Package: page.liam.fixbatteryusagefugu14
Name: FixBatteryUsageFugu14
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Liam Huang
Author: Liam Huang
Section: System
Depends: mobilesubstrate (>= 0.9.5000)
