Package: page.liam.fixbatteryusagefugu14
Name: FixBatteryUsageFugu14 (Alpha)
Version: 0.0.0
Architecture: iphoneos-arm
Description: 'This tool fixes the Battery Usage Graph in System Preferences with Fugu14. (Thanks: Reality@一起搞机, 狂奔の蜗牛@一起搞机)'
Maintainer: Liam Huang
Author: Liam Huang
Section: System
Depends: firmware (>= 14.0.0), firmware (< 15.0.0), mobilesubstrate (>= 0.9.5000), file-cmds
