Package: page.liam.fixbatteryusagefugu14
Name: FixBatteryUsageFugu14 (Beta)
Version: 0.0.0
Architecture: iphoneos-arm
Description: This tool fixes the Battery Usage Graph in System Preferences with Fugu14.
Maintainer: Liam Huang
Author: Liam Huang
Section: System
Depends: mobilesubstrate (>= 0.9.5000), sudo, file-cmds
